{% load static %}
<html>
<head>
    <title>Reporte Paises</title>
    <link rel="stylesheet" type="text/css" href={% static 'estilos.css'%} /> 
    <link rel="stylesheet" type="text/css" href={% static 'bootstrap/css/bootstrap.min.css'%} /> 
    <style>
        /*
        .bg{
            background-color: black;
        }*/
    </style>
</head>
    <body >
        <div class="container-fluid ">
            <div class="row">
                
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        
                    <marquee style="width:100%;">Reporte de Paises</marquee>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        
                    <div class="text-center">
                        <img src="{% static 'Paises.svg' %}"  >
                    <div>
                </div>
            </div>
        </div>

    </body>

</html>